{% extends 'layout.html' %}

{% load static %}

{% block title %}Appointments | Medical HTML Template{% endblock %}

{% block content %}
<div style="height: calc(100vh - 169px);">

    <div style="text-align: center; margin-top:25px">
        <form style="display: inline-block;" action="{% url "appointments/search" %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input style="background: #48bdc5; color: white; border-color: #48bdc5;" type="submit" value="Search">
        </form>
    </div>
    
    <table class="styled-table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Department</th>
                <th>Date</th>
                <th>Mensage</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.department }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.message }}</td>
                <td style="padding-left:auto;padding-right:auto;">
                    <form id="UpdateForm{{ appointment.id }}" action="{% url "appointments/update" id=appointment.id%}" method="GET">
                        <input type="hidden" value="{{ appointment.id }}" name="id">
                        {% csrf_token %}                 
                    <a class="nav-link" href="javascript:document.getElementById('UpdateForm{{ appointment.id }}').submit()"><i class="fa fa-retweet" aria-hidden="true"></form></i></a>
                </td>
                <td>
                    <form id="RemoveForm{{ appointment.id }}" action="{% url "appointments/delete" %}" method="POST">
                        <input type="hidden" value="{{ appointment.id }}" name="id">
                        {% csrf_token %}
                    <a class="nav-link" href="javascript:document.getElementById('RemoveForm{{ appointment.id }}').submit()"><i class="fa fa-trash" aria-hidden="true"></i></form></i></a>
                </td>
            </tr>
            <!-- and so on... -->
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}