{% extends 'layout.html' %}

{% load static %}

{% block title %}Appointment | Medical HTML Template{% endblock %}

{% block content %}

<!-- Section -->
<section class="section style-three pb-0" style="min-height:100vh">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
          <div class="section-title">
            <h1><span>Update Appointment</span></h1>
          </div>
          <form class="default-form contact-form" action="#" method="post">
            {% csrf_token %}
            <div>
                {% for field in form %}
                
                  <div class="row checkout__input">
                        <div class="col-md-2" >
                            <p class="form-group" style="text-align:center; margin-top: 8px">{{ field.label_tag }}</p>
                        </div>
                          <div class="col-md-10" style="margin-bottom:16px;">
                              <p style="margin-bottom:0px;"> {{ field }}</p>
                          </div>
                  </div>
                {% endfor %}

            </div>
            <div class="row form-group">
                <div class="container-login100-form-btn" style="height: 100px">
                    <button type="submit" class="btn-style-one">Update Appointment</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->
{% endblock %}